.topflexing{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}
.headingmain{
    width: 40%;
}
.starbutton{
    width:15%;
}
.join{
    padding: 3%;
    outline: none;
    border: none;
    background-color: rgb(104, 104, 104);
    color: white;
    margin-left: 15%;
    margin-right: 15%;
    width:90%;
   
}

.vdo{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 3%;
}
.imgvdo{
    width: 100%;
}
.graybox{
    background-color: rgb(223, 217, 217);
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    
}
ul li{
    margin-left: 7%;
    padding: 0.5%;
}
.grayflexing{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: 750;
    cursor: pointer;

}
.pplflex{
    display: flex;
   
}
.ppl{
    margin-left: 0.5%;
    font-size: 0.8rem;
    color:gray;
   
}
@media screen and (max-width:54rem){
    .topflexing{
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        width:90%;
    }
    .headingmain{
        width:90%;
        font-size: 0.8rem;
    }
    .resp{
        display: flex;
        
    }
    .vdo{
        margin-left: 10%;
        margin-right: 10%;
    }
    .join{
        margin-left: 10%;
        width:80%;
    }
    .topp{
        margin-left: 1.5%;
    }
    .starbutton{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    .grayflexing{
        flex-direction: column;
        font-size: 1rem;
    }
    .text-desc{
        font-size: 0.8rem;
    }
    .course-intro{
        font-size: 1.2rem;
        margin-left: 3%;
        margin-right: 3%;
        width:96%;
        margin-top: 8%;
    }
    
}
@media screen and (max-width:45rem){
    .starbutton{
        flex-direction: column;
        
    }
    .star{
        margin-left:-45%;
    }
}