.flexing{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.616);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
.nav{
    display: flex;
    justify-content: space-around;
    color: #FF9C07;
    margin-top: 1%;
}
.divider{
    margin-left: 3%;
    margin-right: 3%;
}
.search{
    display: flex;
    justify-content: space-between;
    
}
.searchtext{
    border-color:#FF9C07;
    background-color: rgba(0, 0, 0, 0.616);
    margin-top: 5%;
    border-radius: 20px;
    height: 55%;
    padding-left: 5%;
    margin-right: 4%;
    color:#FF9C07;
    
}
