.profile{
    border-radius: 100%;
}

.ratings{
    display: flex;
    width:50%;
    padding-top: 2.5%;
}

.spaces{
    margin: 1.5%;
    margin-left: 5%;
}
/*charts.js*/
.rateflex{
    display: flex;
    margin-left: 2.5%;
    width:100%;    
}

.bars{
    width: 25%;
}
.pplflex{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    
}

.ppl{
    margin-left: 25%;
    font-size: 0.8rem;
    color:gray;
    margin-top: 5%;
   
}


.review{
    width:50%;
    display: flex;
}

.rate{
    font-size: 3rem;
    font-weight: 800;
    margin-top: 35%;
    margin-left: 20%;
    margin-right: 20%;
    width:60%;

    
}
/*charts.js*/
@media screen and (max-width:54rem){
    .ratings{
        width: 85%;
        font-size: 0.8rem;
    }
    
    .bars{
        width: 30%;
    }
    
    .rate{
        font-size: 5rem;
        margin-left: 30%;
        margin-right: 30%;
        width:40%;
        margin-top: 10%;
    }
    .rate-stars{
        margin-left: 30%;
        margin-right: 30%;
        width:40%;
    }
    .ppl{
        margin-left: 0.5%;
        margin-top: 1%;
        font-size: 0.9rem;
    }
    .pplflex{
        margin-left: 35%;
        margin-right: 35%;
        width:30%;  
    }
    
    
}
@media screen and (max-width:40rem){
    .rateflex{
        flex-direction: column;
    }
    .bars{
        width: 80%;
        margin-left: 2%;
    }
    
    .star-margin{
        margin-left: 1%;
    }
    
    .ppl{
        margin-left: 5%;
    }
    
}